rules:
    - Parijke\CustomPhpstanRules\Architecture\NoGenericExceptionRule
    - Parijke\CustomPhpstanRules\Architecture\InterfaceNameRule
    - Parijke\CustomPhpstanRules\Architecture\NoEmptyFunctionRule
